<div class="columns is-multiline">
  <div class="column is-12">
    <img src="" alt="" class="">
  </div>  
  <div class="column is-12">
    <p class="title is-4">Recipe Name</p>
  </div>  
  <div class="column is-12">
    <div class="field is-grouped">
      <p class="control">
        <a class="button is-primary">Add to Shopping List</a>
      </p>
      <p class="control">
        <a class="button">Edit Recipe</a>
      </p>
      <p class="control">
        <a class="button is-danger">Delete Recipe</a>
      </p>
    </div>
  </div>
    <div class="column is-12">
     <p>Description</p>  
    </div>
    <div class="column is-12">
     <p>Ingredients</p>  
    </div>
</div>